/** Fundo Transparent nos Forms **/
.x-panel-body-default {
    background: none repeat scroll 0 0 transparent;
}


/*BoxMSG*/
.msg .x-box-mc {
    font-size:14px;
}
#msg-div {
    position:absolute;
    left:35%;
    top:10px;
    width:300px;
    z-index:20000;
}
#msg-div .msg {
    border-radius: 8px;
    -moz-border-radius: 8px;
    background: #F6F6F6;
    border: 2px solid #ccc;
    margin-top: 2px;
    padding: 10px 15px;
    color: #555;
}
#msg-div .msg h3 {
    margin: 0 0 8px;
    font-weight: bold;
    font-size: 15px;
}
#msg-div .msg p {
    margin: 0;
}
/*BoxMSG*/
/*triggerfield*/
.icon-search-trigger { background-image: url(search-trigger.gif) !important; background-repeat: no-repeat;}


/*Icones*/
.icon-add { background-image: url(add.png) !important; background-repeat: no-repeat; }
.icon-application_form_add { background-image: url(application_form_add.png) !important; background-repeat: no-repeat; }
.icon-application_form { background-image: url(application_form.png) !important; background-repeat: no-repeat; }
.icon-arrow_refresh { background-image: url(arrow_refresh.png) !important; background-repeat: no-repeat; }
.icon-barcode-32 { background-image: url(barcode.png) !important; background-repeat: no-repeat; }
.icon-barcode-16 { background-image: url(barcode_16.png) !important; background-repeat: no-repeat; }
.icon-tools_box { background-image: url(tools_box.png) !important; background-repeat: no-repeat; }
.icon-cancel { background-image: url(cancel.png) !important; background-repeat: no-repeat; }
.icon-cross { background-image: url(cross.png) !important; background-repeat: no-repeat; }
.icon-cow { background-image: url(cow.png) !important; background-repeat: no-repeat; }
.icon-control_fastforward_blue { background-image: url(control_fastforward_blue.png) !important; background-repeat: no-repeat; }
.icon-control_rewind_blue { background-image: url(control_rewind_blue.png) !important; background-repeat: no-repeat; }
.icon-coins_add { background-image: url(coins_add.png) !important; background-repeat: no-repeat; }
.icon-delete { background-image: url(delete.gif) !important; background-repeat: no-repeat; }
.icon-disk { background-image: url(disk.png) !important; background-repeat: no-repeat; }
.icon-filter { background-image: url(filter.png) !important; background-repeat: no-repeat; }
.icon-find { background-image: url(find.png) !important; background-repeat: no-repeat; }
.icon-grid { background-image: url(grid.png) !important; background-repeat: no-repeat; }
.icon-group { background-image: url(group.png) !important; background-repeat: no-repeat; }
.icon-group_gear { background-image: url(group_gear.png) !important; background-repeat: no-repeat; }
.icon-cog { background-image: url(cog.png) !important; background-repeat: no-repeat; }
.icon-chart_bar { background-image: url(chart_bar.png) !important; background-repeat: no-repeat; }
.icon-chart_curve{ background-image: url(chart_curve.png) !important; background-repeat: no-repeat;}
.icon-chart_pie { background-image: url(chart_pie.png) !important; background-repeat: no-repeat; }
.icon-money_delete { background-image: url(money_delete.png) !important; background-repeat: no-repeat; }
.icon-table_gear { background-image: url(table_gear.png) !important; background-repeat: no-repeat; }
.icon-tick { background-image: url(tick.png) !important; background-repeat: no-repeat; }
.icon-page_edit { background-image: url(page_edit.png) !important; background-repeat: no-repeat; }
.icon-pencil_add { background-image: url(pencil_add.png) !important; background-repeat: no-repeat; }
.icon-printer { background-image: url(printer.png) !important; background-repeat: no-repeat; }
.icon-report { background-image: url(report.png) !important; background-repeat: no-repeat; }
.icon-user_suit { background-image: url(user_suit.gif) !important; background-repeat: no-repeat; }
.icon-scale-32 { background-image: url(scale.png) !important; background-repeat: no-repeat; }
.icon-scale-16 { background-image: url(scale_16.png) !important; background-repeat: no-repeat; }
.icon-zoom { background-image: url(zoom.png) !important; background-repeat: no-repeat; }

/*Field Star Rating*/
.x-form-rating-field {
}
.x-form-rating-field .x-rating-item {
        float: left;
        height: 21px;
        width: 21px;
        background-repeat: no-repeat;
        background-position: center center;
        cursor: pointer;
        background-image: url(star_un.png);
}
.x-form-rating-field .x-rating-item.x-rating-selected {
        background-image: url(star.png);
}
.x-form-rating-field .x-rating-item:hover {
        background-image: url(star_over.png);
}
.x-form-rating-field .x-rating-container {
        float: left;
}
.x-form-rating-field .x-rating-text {
        float: left;
        padding: 0 5px;
        margin-top: 3px;
}
.x-form-rating-field .x-rating-tip {
        float: left;
        margin-top: 2px;
        padding-left: 10px;
}


/** Classes Diferentes Para Linhas da Grid **/
/* Linha da Grid com Fonte Cinza e fundo Branco */
.row-gray {
    color: #A0A0A0;
}



